@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt:regular);


:root {
    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Roboto', serif;

    --primary-color: #5b5941;
    --secondary-color: #87B6A7;
    --accent1-color: #F7D08A;
    --accent2-color: #E3F09B;

    --headline-color-on-white: #0f2636;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #122b3d;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #193346;

    --nav-background-color: #396E94;
    --nav-link-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);

}



p {
    font-family: var(--paragraph-font);
    font-size: medium;
}


body {
    font-family: var(--paragraph-font);
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: larger;
}

h2 {
    margin: 0;
    max-width: 100%;
    font-size: large;
}

h3 { 
font-size: large;
}

header {
    background-color: #F7D08A;
    grid-template-columns: 300px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

nav a {
    text-align: center;
    color: #DDF9FF;
    text-decoration: none;
    font-weight: bold;
    padding: 35px;
}

footer {
    padding: 4px 1px;
    margin-top: 6px;
    display: flex;
}

.sociallinks img {
    padding: 1px;
    width: 50px;
}

.hero img {
    display: block;
    width: 50%;
    height: auto;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}









  